<h1>All contacts</h1>

<ul>
  <% Contact.all.each do |contact|  %>
      <li>
        <div>
          <span><%= contact.full_name %> (<%= contact.email %>)</span>
          <a href="">Edit</a> |
          <a href="">Delete</a>
        </div>
      </li>
  <% end %>
</ul>
