<main>
  <div class="summary">
    There are <span><%= Contact.all.count %></span> contacts
  </div>

  <ul class="list">

    <% Contact.all.each do |contact|  %>
        <li>
          <h3><%= contact.full_name %></h3>
          <a href="/contacts/<%= contact.id %>">View contact</a>
        </li>
    <% end %>

  </ul>
</main>
