<main>
  <div class="summary">
    There are <span><%= Contact.all.count %></span> contacts
  </div>

  <ul class="gallery">

    <% Contact.all.each do |contact|  %>
        <li>
          <div>
            <span><%= contact.full_name %> (<%= contact.email %>)</span>
            <a href="">Edit</a> |
            <a href="">Delete</a>
          </div>
        </li>
    <% end %>

  </ul>
</main>
