<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8" />
  <title><%= @crm_app_name %></title>
</head>
<body>

  <h1>Welcome to <%= @crm_app_name %></h1>
  <p>
    Main menu
  </p>
  <ul>
    <li>
      <a href="/contacts" >View all contacts</a>
<!--      <a href="/contacts" >View all contacts</a> -->
      <a href="/add" >Add a new contact</a>
      <a href="/modify" >Modify a contact</a>
      <a href="/delete" >Delete a contact</a>
      <a href="/search" >Searcxh by attribute</a>
      <a href="/contacts" >View all contacts</a>
    </li>
  </ul>

</body>
</html>
