<main>
  <div class="summary">
    There are <span><%= Contact.all.count %></span> contacts
  </div>

  <ul class="list">

    <% Contact.all.each do |contact|  %>
        <li>
          <h3><%= contact.full_name %> (<%= contact.email %>)</h3>
          <a href="">Edit</a> |
          <a href="">Delete</a>
        </li>
    <% end %>

  </ul>
</main>
