/* general styles */
*,
*:before,
*:after {
  box-sizing: border-box;
}
body {
  font-family: Helvetica, "Arial Narrow", Arial, sans-serif;
  font-size: 16px;
  line-height: 2;
}
ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

.header h1 {
  margin: 0;
  color: #fff;
  text-align: center;
  background-color: #363636;
  font-size: 1.5em;
  line-height: 2em;
}

main {
  margin: 0.5em 1em;
}

/* nav */
nav ul {
  text-align: center;
}
nav li {
  background-color: #ccc;
  padding: 0 10px;
  margin: 2px 0;
}
nav a {
  text-decoration: none;
  font-weight: bold;
  color: #fff;
}

/* summary */
.summary {
  background-color: #FF806D;
  padding: 8px;
  margin: 2px 0;
}
.summary span {
  font-weight: bold;
  border-bottom: 3px solid #1BE0CF;
  font-size: 1.2em;
}

/* list */
.list li {
  margin: 0.5em 0;
  background-color: #1BE0CF;
  padding: 1em;
}
.list h3 {
  line-height: 1;
}
.list a {
  font-size: 0.8em;
}

/* footer */
footer {
  background-color: #000;
  color: #fff;
  text-align: center;
  line-height: 3em;
}
